* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: cursive;
  background: #0b2434;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.main {
  background: #f5f5f5;
  border-radius: 2rem;
  width: 45vw;
  height: 455px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 35px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}
.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.die,
.die-held {
  background-color: #ffffff;
  height: 80px;
  color: #2b283a;
  padding: 0.8rem 1.2rem;
  font-size: 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 2px 2px 0px #00000026;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.die-held {
  background: #59e391;
}
.redBackground {
  background: red;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #222222;
  display: inline-block;
  margin: 2px; /* Adjust the margin as needed */
  border-radius: 50%; /* Shape the dot as a circle */
}
.btn {
  background-color: #5035ff;
  color: #ffffff;
  padding: 0.8rem 2rem;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 0.6rem;
}
.btn:hover {
  background-color: #3326b0;
}
.btn:focus{
  outline: none;
}
.btn.best-time {
  background-color: #125628;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
}
.btn.best-time:hover {
  background-color: #073c19;
}
.game-stats {
  display: flex;
  gap: .9rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.best-time-display {
  display: block;
  margin-top: -.5rem;
  font-size: 1.1rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .main {
    width: 50vw;
  }
}

@media only screen and (max-width: 1050px) {
  .main {
    width: 55vw;
  }
}

@media only screen and (max-width: 950px) {
  .main {
    width: 65vw;
  }
  .dot {
    width: 12px;
    height: 12px;
  }
  .best-time {
    font-size: 1rem;
  }
   .btn, .btn.best-time {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 750px) {
  .main {
    width: 75vw;
  }
 
  .die,
  .die-held {
    height: 68px;
  }
}
@media only screen and (max-width: 640px) {
  .main {
    width: 85vw;
  }
  .die,
  .die-held {
    padding: 0.7rem 1rem;
  }
  .btn, .btn.best-time {
    font-size: .9rem;
  }
}

@media only screen and (max-width: 530px) {
  .main {
    width: 87vw;
  }
  .die,
  .die-held {
    padding: 0.7rem;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  .game-stats{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 485px) {
  .main {
    padding: 1rem 0.9rem;
  }

  .die,
  .die-held {
    padding: 0.5rem;
  }
   .btn, .btn.best-time {
    font-size: .8rem;
  }
}
@media only screen and (max-width: 350px) {
  .main {
    padding: 1rem 0.7rem;
    width: 90vw;
  }

  .die,
  .die-held {
    height: 55px;
  }

  .dot {
    width: 7px;
    height: 7px;
  }
  .btn,
  .best-time {
    font-size: 0.85rem;
  }
}
